#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h1 {
    font-family: var(--heading-font);
    font-size: 4em; 
    margin: 0px;
}

.instructions {
    margin-top: -10px;
    margin-bottom: 50px;
}

.center-container {
    height: 80vh;
    display: grid;
    align-content: center;
}

#symtomInputBox {
    width: 50vw !important;
    font-family: var(--body-font);
    font-size: 1.2em;
    padding: 15px;
    
    field-sizing: content;   /* Enables automatic height adjustment based on content */
    min-height: 2lh;         /* Sets a minimum height of 2 lines of text */
    max-height: 10lh;        /* Sets a maximum height of 10 lines of text */
    overflow-y: auto;        /* Adds a scrollbar if content exceeds max-height */
    resize: vertical;        /* Allows manual vertical resizing by the user (optional) */
}

#submitSymtoms {
    font-family: var(--heading-font);
    margin-top: 1em;
    padding: 15px 25px;
    font-size: 1.5em;
    cursor: pointer;

    background-color: var(--primary);
    color: var(--text);
    border: none;
    border-radius: 10px;
}
#submitSymtoms:active {
    opacity: 0.8;
}

/* .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
} */