#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h1 {
    font-family: var(--heading-font);
    font-size: 4em; 
    margin: 0px;
    cursor: pointer;
}
.color-primary {
    color: var(--primary);
    text-shadow: 
    0 0 60px var(--third); /* Larger, softer glow */
}

.instructions {
    margin-top: -10px;
    margin-bottom: 40px;
}

.center-container {
    height: 80vh;
    display: grid;
    align-content: center;
}

#symtomInputBox {
    width: min(50vw, 1000px) !important;
    font-family: var(--body-font);
    font-size: 1em;
    padding: 15px;
    
    field-sizing: content;   /* Enables automatic height adjustment based on content */
    min-height: 2lh;         /* Sets a minimum height of 2 lines of text */
    max-height: 10lh;        /* Sets a maximum height of 10 lines of text */
    overflow-y: auto;        /* Adds a scrollbar if content exceeds max-height */
    resize: vertical;

    border: none;
    outline: none;
    background-color: var(--element-background);
    box-shadow: 0 8px 0 0 var(--element-shadow);
    border-radius: 10px;
}
#symtomInputBox::placeholder {
  color: var(--element-shadow);
  opacity: 1;
}

#submitSymtoms {
    font-family: var(--heading-font);
    margin-top: 1.1em;
    padding: 15px 25px;
    font-size: 1.5em;
    cursor: pointer;

    color: var(--text);
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--element-background);
    box-shadow: 0 8px 0 0 var(--element-shadow);
}
#submitSymtoms:hover, #submitSymtoms:focus {
    transition: all 0.2s ease-in-out;
    background-color: var(--primary);
    color: var(--background);
    box-shadow: 0 8px 0 0 var(--accent);
}
#submitSymtoms:active {
    transition: all 0.1s ease-in-out;
    transform: translateY(8px);
    box-shadow: 0 0 0 0 var(--accent);
}
