:root {
    --text: #0a1f17;
    --background: #fbfefd;
    --element-background: rgba(245, 245, 245, 1);
    --element-shadow: #c9c9c9;
    --primary: #0bd698;
    --secondary: #aeead9;
    --third: #94ffdfbd;
    --accent: #148563;

    --heading-font: 'Franklin Gothic Medium', 'Franklin Gothic', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --body-font: 'Franklin Gothic Book', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-family: var(--body-font);
    font-size: 16px;
    line-height: 1.5;
    font-size: 24px;
    color: var(--text);
    background-color: var(--background);

    /* color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}